<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.body-class }}" id="top">
    
      <div class="main-container">
        <div class="overlay"></div>
        {% include navigation.html %}
        {% include header.html %}
          <div class="homepage-hero">  
            {% include homepage-hero.html %}
          </div>
          <div class="page-content">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>

        {% include footer.html %}
      </div>
  </body>

</html>
