---
layout: default
---
<div class="work-container">
  <section class="work-content">
    <div class="work-image">
    	<img src="{{ page.full-image }}" alt="{{ page.title }}"/>
    </div>

    <div class="work-brief">
    	<div class="inner">
	    	<h2>{{ page.title }}</h2>
		    {{ page.description }}
		    
		</div>
    </div>
    <sidebar class="work-sidebar">
    	<div class="inner">
    		<h4>Services</h4>
    		<ul class="tags">
		    	{% for tag in page.tags %}
		    		<li>{{ tag }}</li>
		    	{% endfor %}
		    </ul>
    		<a href="{{ page.live-url }}" target="_blank" class="view-site button">View Live Site</a>

    	</div>
    </sidebar>
    
	
	
  </section>

</div>
